* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin-top: 0px;
}
h1 {
  text-align: center;
  font-size: 175%;
}
.row {
  width: 100%;
}
.box {
  margin: 10px 10px;
  background-color: lightgrey;
  border: 1px solid black;

  position: relative;
}
.title {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 33%;
  border: 1px solid black;
  font-size: 125%;
  margin-top: -1px;
  margin-left: -1px;
  padding: 5px;
  text-align: center;
}
#chicken {
  background-color: orange;
}
#beef {
  background-color: red;
  color: white;
}
#fish {
  background-color: cornflowerblue;
}

p {
  margin-top: 40px;
  padding: 5px 5px;
}

@media (min-width: 992px) {
  .lg-4,
  .lg-6,
  .lg-12 {
    font-size: medium;
    float: left;
  }
  .lg-4 {
    width: 33%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .md-4,
  .md-6,
  .md-12 {
    font-size: medium;
    float: left;
  }
  .md-4 {
    width: 33%;
  }
  .md-6 {
    width: 50%;
  }
  .md-12 {
    width: 100%;
  }
}
